        .c-test {
    align-items: center;
    background-color: lightgrey;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    height: 200px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 200px;
}
.c-test-inner {
    background-color: red;
    height: calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    position: absolute;
    -webkit-transform: translateZ(50px) scale(0.5);
    transform: translateZ(50px) scale(0.5);
    -webkit-transition: 0.15s;
    transition: 0.15s;
    width: calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    will-change: transform;
}
.c-test-inner:hover {
    -webkit-transform: translateZ(100px) scale(0.7);
    transform: translateZ(100px) scale(0.7);
}
